/* --------- CSS for Studio --------- */

/* HERO */

.hero {
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  width: 100%;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}

.hero > .hero-title {
  color: var(--hero-text-color);

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero > .button {
  display: inline-block;
  height: 50px;
  width: 200px;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  margin: 0 auto;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) linear,
    visibility var(--transition-duration) linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) linear;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--hero-text-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--hero-text-color);

  cursor: pointer;
}

/* OUR FEATURES */

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
}

.section-title.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  padding-top: 94px;
}

.features p {
  margin-bottom: 30px;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.features .title-one {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-space:not(:last-child) {
  margin-right: 30px;
}

.features-icon {
  background-color: #f5f4fa;
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
}

/* WHAT WE DO */

.pics {
  display: flex;
  padding-bottom: 94px;
}

.pics-space:not(:last-child) {
  margin-right: 30px;
}

.pics-space {
  position: relative;
  display: flex;
}

.pics-caption p {
  margin: 0;
  padding: 0;
}

.pics-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* OUR TEAM */

.team {
  display: flex;
}

.team p {
  padding-bottom: 16px;
  margin: 0;
}

.team .title-two {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding: 30px 0 10px;
  margin: 0;
}

.team .work-pic {
  display: block;
}

.team > .space-two {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  text-align: center;
  background-color: var(--hero-text-color);
}
.section.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.links {
  padding: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.icon-list {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  align-items: center;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  background-color: var(--hero-text-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.icon-list:nth-child(4) {
  margin-right: 0;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: var(--icon-color);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icon-list:hover,
.icon-list:focus {
  background-color: var(--accent-color);
}

.icon-list:hover .icon,
.icon-list:focus .icon {
  fill: var(--hero-text-color);
}

/* CLIENTS */

.clients {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.client-list {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  margin-right: 30px;
  background-color: var(--hero-text-color);
  width: 170px;
  height: 92px;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.client-list:hover,
.client-list:focus {
  border: 1px solid var(--accent-color);
}

.client-list:nth-child(6) {
  margin-right: 0;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list:hover .client-icon,
.client-list:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: var(--icon-color);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* --------- CSS for Portfolio --------- */
.project-title.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 94px 0 50px;
}
.buttons {
  background-color: var(--filter-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  margin-right: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.buttons:hover,
.buttons:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.accent {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  width: inherit;
}

.works .work-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding: 20px 24px 4px;
  margin: 0;
}

.works .desc {
  font-size: 16px;
  line-height: 1.87;

  padding: 0 24px 20px;
  margin: 0;
}

.work-list {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.work-list:hover,
.work-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list:hover .work-pic-wrap::before,
.work-list:focus .work-pic-wrap::before {
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);
}

.work-list:hover .work-paragraph,
.work-list:focus .work-paragraph {
  transform: translateY(0);
}

.work-link {
  cursor: pointer;
}

.work-pic-wrap {
  position: relative;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
}

.work-pic-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  content: "";
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.work-pic {
  display: block;
  width: 100%;
}

.work-paragraph {
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  color: var(--hero-text-color);
}
